.react-swipe-views{
  position: relative;
  background: #eee;
  &,
  & *{
    box-sizing: border-box;
  }

  &-wrapper,
  &-scroller,
  &-item{
    height: 100%;
  }


  &-wrapper{
    position: relative;
    overflow: hidden;
  }

  &-item{
    user-select: none;
    -webkit-user-select: none;
    float: left;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}
