.react-swipe-views{
  position: relative;
  background: #eee;
  &,
  & *{
    box-sizing: border-box;
  }

  &-wrapper,
  &-scroller,
  &-item{
    height: 100%;
  }


  &-wrapper{
    border:1px solid #F00;
    position: relative;
    overflow: hidden;
  }

  &-item{
    float: left;
  }
}
