*{margin: 0;padding:0;}
ul,li{list-style: none;}
$red: random(256)-1;
$green: random(256)-1;
$blue: random(256)-1;



.hello-react-swipe-views{
  color:#F00;
  padding:20px 20px;
  position: relative;
  button{
    background: #3cc51f;
    margin-bottom: 10px;
    border-radius: 10px;
    color:#FFF;
    padding:12px;
    border: none;
    margin-right: 10px;

    &:active{
      background: darken(#3cc51f,10%);
    }

    &:focus{
      outline: none;
    }
  }
    img{
      width:100%;
      display: block;
    }
  h3{
    margin: 10px auto;
    text-align: center;
  }
  .react-swipe-views-height{
    height:250px;
  }
}
